<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DafitiCodeChallenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAC7995B1D92C5F500180D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC7996F1D92C5F500180D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC7997A1D92C5F500180D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
